<!DOCTYPE html>
<html lang="en-US">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="css/components.css">
      <link rel="stylesheet" href="css/icons.css">
	  <link rel="stylesheet" href="css/Buttons.css">
      <link rel="stylesheet" href="css/responsee.css">
      <link rel="stylesheet" href="owl-carousel/owl.carousel.css">
      <link rel="stylesheet" href="owl-carousel/owl.theme.css"> 
      <!-- CUSTOM STYLE -->
      <link rel="stylesheet" href="css/template-style.css"> 
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
      <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
      <script type="text/javascript" src="js/jquery-ui.min.js"></script>    
   </head>
   <body class="size-2140">
      <!-- TOP NAV WITH LOGO -->  
      <header>
         <nav>
            <div class="line">
               <div class="top-nav">              
                  <div class="logo hide-l">
                     <a href="Home">DESIGN <br /><strong>THEME</strong></a>
                  </div>                  
                  <p class="nav-text">Custom menu text</p>
                  <div class="top-nav s-12 l-5">
                     <ul class="right top-ul chevron">
                        <li><a href="Home"style="font-size: 10px">Home</a>
                        </li>
                        
                     </ul>
                  </div>
                  <ul class="s-12 l-2">
                     <li class="logo hide-s hide-m">
                        <a href="#"style="font-size: 25px">Bright <br /><strong style="font-size: 25px">Minds</strong></a>
                     </li>
                  </ul>
                  <div class="top-nav s-12 l-5">
                     <ul class="top-ul chevron">
                        <li><a href="Login"style="font-size: 10px">LOGIN</a>
                        </li>
                        
                        <li><a href="contact"style="font-size: 10px">Contact</a>
                        </li>
                     </ul> 
                  </div>
               </div>
            </div>
         </nav>
      </header>
      <section>
         <div id="head">
            <div class="line">
               <h1>Contact Bright Minds</h1>
            </div>
         </div>
         <div id="content" class=" left-align contact-page">
            <div class="line">
               <div class="margin">
			   
                  <div class="s-12 l-6"style="padding-left:200px">
                     <h2 style="font-size: 20px">Bright Minds, Software team</h2>
                     <address>
                        <p style="font-size: 15px"><i class="icon-home icon"></i> 5. Dr Ahmed Zewail Street</p>
                        <p style="font-size: 15px"><i class="icon-globe_black icon"></i> Cairo - Egypt</p>
                        <p style="font-size: 15px"><i class="icon-mail icon"></i> info@BrightMinds.com</p>
                     </address>
                     <br />
                     <h2 style="font-size: 20px">Social</h2>
                     <p style="font-size: 15px"><i class="icon-facebook icon"></i> <a href="#">BrightMinds</a></p>
                     <p style="font-size: 15px"><i class="icon-facebook icon"></i> <a href="#">BrightMinds</a></p>
                     <p style="font-size: 15px" class="margin-bottom"><i class="icon-twitter icon"></i> <a href="#">BrightMinds</a></p>
                  </div>
                  <div class="s-12 l-6 left-align">
                     <h2 style="font-size: 20px">Feel free to send us a message</h2>
                     <form class="customform" action="">
                        <div class="s-12 l-7"><input name="" placeholder="Your e-mail" style="font-size: 15px" title="Your e-mail" type="text" /></div>
                        <div class="s-12 l-7"><input name="" placeholder="Your name" style="font-size: 15px" title="Your name" type="text" /></div>
                        <div class="s-12"><textarea style="font-size: 15px" placeholder="Your message" name="" rows="5"></textarea></div>
                        <div class="s-12 m-6 l-4"><button id="myBtn"style="font-size: 10px">SEND</button></div>
                     </form>
                  </div>
               </div>
            </div>
         </div>


<head>
<style>
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
</style>
</head>
<body>
<!-- Trigger/Open The Modal -->
<!--<button id="myBtn">SEND</button>-->

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <h3><strong>Thank you for getting in touch with Bright Minds</h3>
  </div>

</div>

<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>


		 
         <!-- MAP -->	
         <div id="map-block">  	  
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13816.781731799243!2d31.2104632!3d30.0312506!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb2a6ce4702edc3da!2z2YPZhNmK2Kkg2KfZhNit2KfYs9io2KfYqiDZiCDYp9mE2YXYudmE2YjZhdin2Kog2KzYp9mF2LnYqSDYp9mE2YLYp9mH2LHYqQ!5e0!3m2!1sar!2seg!4v1492293201851" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
         </div>
        </form>
    <div id="fourth-block">
            <div class="line">
               <div id="owl-demo2" class="owl-carousel owl-theme">
                  <div class="item">
                     <h2>About</h2>
                     <p>A site that guarantees to make your child a genius has a lot of promises to live up to. 
					 Bright Minds is filled with games that cover a variety of subjects, such as coding for kids, Science,and Math. 
					 All of the videos are kid-friendly and will keep even your youngest children interested from start to finish.
                     </p>
                  </div>
                  <div class="item">
                     <h1>Copyright 2017, Software Engineering II, Cairo University.</h1>
                     <h1 class="s-12 m-50 l-8 center">Design and coding by Eden Team
                     </h1>
                  </div>
               </div>
            </div>
         </div>
     
      </section>
      <script type="text/javascript" src="js/responsee.js"></script> 
      <script type="text/javascript" src="owl-carousel/owl.carousel.js"></script>   
      <script type="text/javascript">
         jQuery(document).ready(function($) {  
           $("#owl-demo2").owlCarousel({
           	slideSpeed : 300,
           	autoPlay : true,
           	navigation : false,
           	pagination : true,
           	singleItem:true
           });
         });	
          
      </script>  
   </body>
</html>